
/* 
#signup
{
  width:500px;
  border: solid 2px sandybrown;
  border-radius: 10%;
  margin:15px;
  padding: 25px;
  margin-left: 500px;
  float:top;
  background-color: aliceblue;
}

input{
  width:450px;
  height:30px;
}
.btn2
{
  width:150px;
  height:40px;
  margin-top: 10px;
  margin-left: 25px;

}

#head2
{
  height:60px;
  width:100%;
  background-color:chartreuse;
  margin-top: -25px;

}

#btn3
{
  margin-left: 600px;

}
#btn4
{
  margin-left: 50px;

} */
mat-form-field{
  width: 100%;
}