<!--<p id="ab">-->

<!--</p>-->
<div class="body1">
  <div class="main1">
    <img id="anchor" src="assets/morty.png" style=" width: 193.99px; height: 196.666px; position: relative; left: 5px; top: -56px;">
    <div id="eyes">
      <img src="assets/eye.png" alt="" class="eye" style="top: -33px;right: 4px;">
      <img src="assets/eye.png" alt="" class="eye" style="top:-29px;left:-25px;">
      <img src="assets/eye.png" alt="" class="eye" style="bottom:78px;left:44px;">
      <img src="assets/eye.png" alt="" class="eye" style="bottom:78px; left:24px;">
    </div>
  </div>
</div>

